app/agents/services/models/infra/workflows/n8n-support-ticket.json

{
  "name": "Support Ticket Intake Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Support Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "http://ai-operations-agent:8000/process-ticket",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Forward to AI Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "notEqual",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Check Processing Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{ \"text\": \"🚨 AI Agent failed to process support ticket.\" }"
      },
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1200, 450]
    }
  ],
  "connections": {
    "Support Ticket Webhook": {
      "main": [
        [
          {
            "node": "Forward to AI Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to AI Orchestrator": {
      "main": [
        [
          {
            "node": "Check Processing Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Result": {
      "main": [
        [],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
